.student{
    width: 250px;
    height: 540px;
    border: 1px solid gray;
    border-radius: 8px;
    position: relative;
}

.student img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin: 20px;
}
.student-name{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
}

.student-info{
    margin: 10px;
}
.btn-cart{
    width: 100%;
    background-color: rgb(124, 90, 246);
    border: 0;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}
